/* Exercise management page */

/* Table with fixed columns */
table.records {
    display: table;
    table-layout: fixed;
    width: 100%;
}

table.records td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.records td:hover {
    white-space: normal;
    word-wrap: break-word;
}

table.records td:last-child {
    width: 100px;
    white-space: nowrap;
}