/* New exercise page */

main.container {
    margin-top: 5rem;
}

/* Fixed header */
header.heading {
    height: 5rem;
    color: white;
    display: block;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

header.heading section {
    display: flex;
    height: 5rem;
}

header.heading img {
    height: 100%;
}

header.heading .exercise-label {
    margin: auto;
    margin-left: 2rem;
}

header.heading .exercise-title,
header.heading .exercise-label a {
    font-weight: bold;
}

header.heading .exercise-label a {
    color: white;
}

header.heading .exercise-label a:hover {
    color: #606c76;
}

/* Form error display */
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}